* {
    font-family: system-ui;
}

/* HEADER */
header {
    background-color: #011830;
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: #E7AD1A;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 5%;
    padding: 0 10px;
}

header .logo:hover {
    color: #fff;
    border-radius: 20px;
}

header ul {
    display: flex;
    align-items: center;
    margin-right: 5%;
    gap: 20px;
}

header ul li {
    list-style: none;
}

header ul li a,
header ul li i {
    text-decoration: none;
    padding: 5px 15px;
    color: #E7AD1A;
}

header ul li a:hover,
header ul li i:hover {
    background: #E7AD1A;
    color: #fff;
    border-radius: 20px;
}

/* FIN HEADER */

body {
    margin: 0;
    text-decoration: none;
    background-color: #FFF;
    min-height: 100vh;
}

h1 {
    text-align: center;
}

/* HOME PAGE */
.homePage {
    text-align: center;
}

/* FIN HOME PAGE */

/* ABOUT US */
.AboutUs {
    margin: 20px 10%;
}

.AboutUs h2 {
    margin-bottom: 0;
}

.AboutUs p,
.AboutUs ol {
    margin: 0;
}

/* FIN ABOUT US */

/* FOOTER */
footer {
    background-color: #011830;
    width: 100%;
    color: #E7AD1A;
    display: flex;
    justify-content: space-around;
}

.footer_brand li,
.footer_notices li {
    list-style: none;
}

.footer_brand a,
.footer_notices a {
    color: #E7AD1A;
    text-decoration: none;
}

.footer_social_and_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social_media {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social_media i {
    font-size: 30px;
}

/* FIN FOOTER*/

/* ------------------*/
#header {
    padding: 6px 20px;
    display: flex;
    justify-content: center;
    z-index: 800;
    margin-top: 2%;
}

.sousNav {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 1%;
    text-decoration: none;
}

.sousNav p {
    margin-top: -5%;
    text-align: center;
    color: #011830;
    font-size: 12px;
    margin-top: 1%;
    outline: none;
    font-weight: bold;
}