* {
    font-family: system-ui;
}

header {
    background-color: #011830;
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: #E7AD1A;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 3%;
}

header ul {
    display: flex;
    align-items: center;
    margin-right: 5%;
    gap: 20px;
}

header ul li {
    list-style: none;
}

header ul li a, header ul li i {
    text-decoration: none;
    padding: 6px 15px;
    color: #E7AD1A;
    border-radius: 20px;
}

header ul li a:hover {
    background: #E7AD1A;
    color: #011830;
}

body {
    margin: 0;
    text-decoration: none;
    background-color: #FFF;
    min-height: 100vh;
}

body>h1 {
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

body>h2 {
    display: flex;
    justify-content: center;
}

body>h3 {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-size: 150%;
}

.homePage {
    text-align: center;
}

#header {
    padding: 6px 20px;
    display: flex;
    justify-content: center;
    z-index: 800;
    margin-top: 2%;
}

.sousNav {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 1%;
    text-decoration: none;
}

.sousNav p {
    margin-top: -5%;
    text-align: center;
    color: #011830;
    font-size: 12px;
    margin-top: 1%;
    outline: none;
    font-weight: bold;
}

.bottom {
    bottom: 0px;
}

#icon:visited {
    color: #E7AD1A;
}

#articleRow {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

#articleCase {
    background-color: #E7AD1A;
    width: 30%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.articleCase#E7AD1A {
    background-color: #E7AD1A;
    width: 30%;
    display: flex;
    justify-content: center;
}

#articleCase a {
    display: flex;
    justify-content: center;
}

#articleCase img {
    width: 70%;
}

#articleName {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

#articleRowNike {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

#articleCaseNike {
    background-color: #E7AD1A;
    width: 30%;
    display: flex;
    justify-content: center;
}

#articleCaseNike img {
    width: 70%;
}

#articleNameNike {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.AboutUs {
    text-align: center;
    margin: 20px 10%;
}

footer {
    background-color: #011830;
    width: 100%;
    color: #E7AD1A;
    display: flex;
    justify-content: space-around;
}

.footer_brand li, .footer_notices li {
    list-style: none;
}

.footer_brand a, .footer_notices a {
    color: #E7AD1A;
    text-decoration: none;
}

.footer_social_and_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social_media {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social_media i {
    font-size: 30px;
}